@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(219, 219, 219);
}

h1 {
  padding: .5em 1em;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  color: grey;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 2em 10%;
}

.item {
  width: 30em;
  background-color: white;
  box-sizing: border-box;
  padding: 1.5em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.item img {
  width: 100%;
}

.item h2 {
  font-size: 1em;
  margin-bottom: .2em;
}

button {
  background-color: black;
  color: white;
  /* padding: 0.5em; */
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.7em;
  font-weight: bold;
  width: 100px;
  height: 40px;
  margin-top: 10px;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: rgb(19, 19, 19);
  float: right;
  border-radius: 100px;
  position: relative;
}

label::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: rgb(219, 219, 219);
  border-radius: 90px;
  transition: 0.3s;
}

#url-new-img{
  width: 100%;
  height: 5%;
  margin-top: 10px;
  padding: 5px;
}

.newImg{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input:checked + label {
  background-color: rgb(219, 219, 219);
}

input:checked + label::after {
  background-color: rgb(19, 19, 19);
  left: calc(100% - 5px);
  transform: translateX(-90%);
}

label:active::after {
  width: 45px;
}

.toggle {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.toggle p{
  font-size: 10px;
  margin-bottom: 5px;
}

/* ------------------------------ Estilos para o tema escuro (Dark-Mode) ----------------------------------------------- */

.body-dark-mode {
  background-color: rgb(39, 39, 39);
}

.h1-dark-mode {
    background-color: rgb(19, 19, 19);
    color: rgb(170, 170, 170);
    border-color: black;
}

.item-dark-mode {
    background-color: rgb(19, 19, 19);
    border-color: black;
}

.itemText-dark-mode {
    color: rgb(230, 230, 230);
}

.button-dark-mode{
  background-color: rgb(219, 219, 219);
  color: black;
}


/* Os seguintes estilos são os que usaremos para aplicar o modo escuro, 
você terá que modificar os seletores a fim de poder resolver o exercício. */ 

/* A cor de fundo 
{
  background-color: rgb(39, 39, 39);
}

// Modificações no titulo 'A família dos felinos'
{ 
  background-color: rgb(19, 19, 19);
  color: rgb(170, 170, 170);
  border-color: black;
}


// Modificações nos items
{
  background-color: rgb(19, 19, 19);
  border-color: black;
}

// Modificações nos textos dos itens e cabeçalhos dos itens
{
  color: rgb(230, 230, 230);
}
